# Vim-style half-page scrolling
screen_down <C-d>
screen_up <C-u>
prev_state <C-o>
toggle_titlebar <C-w>
next_state <C-i>
zoom_in J
zoom_out K

# Toggle dark mode with 'i' (for "invert")
toggle_dark_mode i
toggle_custom_color c
reload_config r
helper_window

add_highlight a

toggle_fullscreen f

screen_down l
screen_up h

fit_to_page_width s
fit_to_page_height S

previous_page <left>
next_page <right>

toggle_statusbar <C-n>

quit Q
close_window q

# usage
#
# https://sioyek-documentation.readthedocs.io/en/latest/usage.html
#
# f5 para modo presentacion
#
# a+symbol to add_highlight
# gh to search through highlights
# delete en la lista para borrar highlights
#
# t para toc
#
# las marks funcionan igual que vim
#
# b to add_bookmark
# gb to search through bookmarks
# db to delete bookmarks o con delete en la lista misma
#
# O para archivos recientes
